.wrapper{
    background-color: #fff;
    width: 75vw;
}

.wrapper img{
    display: inline-block;
    vertical-align: middle;
}
.detailsContainer {
    display: inline-block; 
    vertical-align: middle;
    margin-left: 30px;
    font-size: 1.3rem;
}
.detailsContainer > *{
    padding: 20px 0;
}

@media(max-width: 1330px){
    .wrapper img{
        width: 100%;
        margin-top: 10px;
    }
    .detailsContainer{
        margin: 0;
        padding: 10px;
    }
}
@media(max-width: 1755px) and (min-width: 1330px){
    .detailsContainer{
        width: 47%;
    }
}
